<div class="container">
  <h2>Upload to S3</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" value="Upload">
  </form>
</div>
